{% extends 'artworks/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <header>
    <h2>New Artwork</h2>
  </header>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate>
    {% csrf_token %}

    <div class="row">
      <div class="col-6">
        {{ form.artwork_name|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.accession_number|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.artist|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.artist_role|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.date_text|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.medium|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.credit_line|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.acquisition_year|as_crispy_field }}
      </div>
    </div>
    
    <div class="row">
      <div class="col-2">
        {{ form.width|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ form.height|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ form.depth|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.subject|as_crispy_field }}
      </div>
    </div>

    <button type="submit" class="btn btn-outline-success">Add</button>
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'artwork' %}">cancel</a>
  </form>

{% endblock content %}