{% extends 'artworks/base.html' %}
   
   {% load artworks_extras %}
   
   <!-- safe filter on for raw HTML stored in database -->
   {% block content %}
     <header>
       <div class="row">
         <div class="col-sm-10">
           <h2>{{ artwork.artwork_name | safe }}</h2>
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             <a class="btn btn-outline-secondary" href="{% url 'artwork_update' artwork.pk %}">edit</a>
           {% endif %}
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             &nbsp;<a class="btn btn-outline-warning" href="{% url 'artwork_delete' artwork.pk %}">delete</a>
           {% endif %}
         </div>
       </div>
     </header>
   
     <!-- {% if site.country_area.all %}
       <div class="row">
         <div class="col-sm-2">
           <p>Region</p>
         </div>
         <div class="col-sm-10">
           {% spaceless %}
           <p>
             {% for country_area in site.country_area.all %}
               {% if country_area.location.intermediate_region %}
                 {% ifchanged country_area.location.intermediate_region.intermediate_region_id %}
                   {% if forloop.first %}
                     {{ country_area.location.intermediate_region.intermediate_region_name.strip }}
                   {% else %}
                     {{ country_area.location.intermediate_region.intermediate_region_name.strip|add_leading_comma }}
                   {% endif %}
                 {% endifchanged %}
               {% elif country_area.location.sub_region %}
                 {% ifchanged country_area.location.sub_region.sub_region_id %}
                   {% if forloop.first %}
                     {{ country_area.location.sub_region.sub_region_name.strip }}
                   {% else %}
                     {{ country_area.location.sub_region.sub_region_name.strip|add_leading_comma }}
                   {% endif %}
                 {% endifchanged %}
               {% elif country_area.location.region %}
                 {% ifchanged country_area.location.region.region_id %}
                   {% if forloop.first %}
                     {{ country_area.location.region.region_name.strip }}
                   {% else %}
                     {{ country_area.location.region.region_name.strip|add_leading_comma }}
                   {% endif %}
                 {% endifchanged %}
               {% else %}
                 {% ifchanged country_area.location.planet_id %}
                   {{ country_area.location.planet.unsd_name.strip }}
                 {% endifchanged %}
               {% endif %}
             {% endfor %}
           </p>
           {% endspaceless %}
         </div>
       </div>
   
       <div class="row">
         <div class="col-sm-2">
           <p>Country / Area</p>
         </div>
         <div class="col-sm-10">
           {% spaceless %}
           <p>
             {% for country_area in site.country_area.all %}
               {% if forloop.last %}
                 {{ country_area.country_area_name.strip }} ({{ country_area.iso_alpha3_code.strip }})
               {% else %}
                 {{ country_area.country_area_name.strip }} {{ country_area.iso_alpha3_code.strip|add_parens|add_trailing_comma }}
               {% endif %}
             {% endfor %}
           </p>
           {% endspaceless %}
         </div>
       </div>
   
     {% endif %} -->

     {% if artwork.accession_number %}
       <div class="row">
         <div class="col-sm-2">
           <p>Accession Number</p>
         </div>
         <div class="col-sm-10">
           <p>{{ artwork.accession_number }}</p>
         </div>
       </div>
     {% endif %}

     {% if artwork.artist.artist_name %}
       <div class="row">
         <div class="col-sm-2">
           <p>Artist</p>
         </div>
         <div class="col-sm-10">
           <p>{{ artwork.artist.artist_name }}</p>
         </div>
       </div>
     {% endif %}

     {% if artwork.artist_role.artist_role_name %}
       <div class="row">
         <div class="col-sm-2">
           <p>Artist Role</p>
         </div>
         <div class="col-sm-10">
           <p>{{ artwork.artist_role.artist_role_name }}</p>
         </div>
       </div>
     {% endif %}

     {% if artwork.date_text %}
       <div class="row">
         <div class="col-sm-2">
           <p>Date Text</p>
         </div>
         <div class="col-sm-10">
           <p>{{ artwork.date_text }}</p>
         </div>
       </div>
     {% endif %}
   
     {% if artwork.medium %}
       <div class="row">
         <div class="col-sm-2">
           <p>Medium</p>
         </div>
         <div class="col-sm-10">
           <p>{{ artwork.medium }}</p>
         </div>
       </div>
     {% endif %}
   
     {% if artwork.credit_line %}
       <div class="row">
         <div class="col-sm-2">
           <p>Description</p>
         </div>
         <div class="col-sm-10">
           {{ artwork.credit_line | safe }}
         </div>
       </div>
     {% endif %}
   
     {% if artwork.acquisition_year %}
       <div class="row">
         <div class="col-sm-2">
           <p>Year acquisited</p>
         </div>
         <div class="col-sm-10">
           <p>{{ artwork.acquisition_year }}</p>
         </div>
       </div>
     {% endif %}
   
     <!-- {% if site.latitude and site.longitude %}
       <div class="row">
         <div class="col-sm-2">
           <p>Geo coordinates</p>
         </div>
         <div class="col-sm-4">
           <p>{{ site.latitude }}, {{ site.longitude }} (<span style="font-style:italic">lat</span>.,
             <span style="font-style:italic">long</span>.)</p>
         </div>
       </div> -->
     {% endif %}
   {% endblock content %}
